# Use postgres/example user/password credentials
version: '3.1'

services:

  backstage:
    image: fredstage
    restart: always
    environment:
      # POSTGRES_PASSWORD: example
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      AUTH_GITHUB_CLIENT_ID: ${AUTH_GITHUB_CLIENT_ID}
      AUTH_GITHUB_CLIENT_SECRET: ${AUTH_GITHUB_CLIENT_SECRET}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    ports:
      - 7000:7000
      - 3000:3000
      - 7007:7007

  # db:
  #   image: postgres
  #   restart: always
  #   environment:
  #     #POSTGRES_PASSWORD: example
  #     POSTGRES_HOST: ${POSTGRES_HOST}
  #     POSTGRES_PORT: ${POSTGRES_PORT}
  #     POSTGRES_USER: ${POSTGRES_USER}
  #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  #   ports:
  #     - "5432:5432"

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080